*{
    box-sizing: border-box;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .loginCard{
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    background:white;
    color: black;
  }